@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #8096A3;
}
.button2 {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #ededed;
}