@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

div {
  font-family: 'Poppins', sans-serif;
}

.road {
  height: 100vh;
  align-self: center;
  background-image: url('../images/road.png');
  background-repeat: no-repeat;
}

.button {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #8096A3;
}
.button2 {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #ededed;
}

#top-container {
  position: absolute;
  width: 353px;
  height: 239px;
  background: #F1F1F3;
  box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
  border-radius: 24px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding: 48px 11px 41px 11px;
}

#store-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: flex-end;
  color: #292E30;
  padding: 20px 90px 15px 19px;
}

#address {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #292E30;
  padding: 0px 105px 11px 19px;
}

#cash-button {
  position: absolute;
  width: 142px;
  height: 23px;
  right: 203px;
  top: 127px;
  background: #F5CE00;
  box-shadow: inset -7px -7px 10px rgba(255, 255, 255, 0.4), inset 7px 7px 10px rgba(174, 174, 192, 0.15);
  border-radius: 24px;
  padding: 11px 192px 14px 19px;
}

#cash {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #705E00;
  padding: 1px 10px 1px 6px;
}

#revenue-transaction-box {
  position: absolute;
  width: 317px;
  height: 104px;
  right: 28px;
  top: 164px;
  background: #F0F0F3;
  box-shadow: inset -10.2437px -10.2437px 15.7639px rgba(255, 255, 255, 0.7), inset 10.2437px 10.2437px 15.7639px rgba(174, 174, 192, 0.15);
  border-radius: 20px;
  padding: 0px 17px 19px 19px;
}

#revenue {
  position: absolute;
  width: 108px;
  height: 20px;
  left: calc(50% - 108px/2 - 81.5px);
  top: 185px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #666666;
  padding: 21px 34px 6px 22px;
}

#revenue-amount {
  position: absolute;
  width: 74px;
  height: 33px;
  left: calc(50% - 74px/2 - 81.5px);
  top: 211px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: flex-end;
  color: #333333;
  padding: 0px 108px 24px 39px;
}

#transaction {
  position: absolute;
  width: 130px;
  height: 20px;
  left: calc(50% - 130px/2 + 71.5px);
  top: 185px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #666666;
  padding: 21px 23px 6px 0px;
}

#transaction-amount {
  position: absolute;
  width: 15px;
  height: 33px;
  left: calc(50% - 15px/2 + 71px);
  top: 211px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: flex-end;
  color: #333333;
}

#corner-logo{
  /* padding: 47px 284.16px 173.78px 22px;
  width: 68.84px;
  height: 83.22px; */
  background: image('../images/corner-logo.png');
  position: sticky;
  padding-top: 3.5rem;
  /* top: 10rem; */
  left: 1rem;
}

#jar {
  /* padding-left: 78px; */
  z-index: 1;
  position: sticky; 
  width: 100%;
  height: 100%;
  left: 0px;
  top: 78px;
}

#box, #box2 {
  background: #FFFFFF;
  height: 65vh;
  box-shadow: 7.42332px 7.42332px 20px rgba(184, 192, 198, 0.8), -5px -5px 14px rgba(184, 192, 198, 0.8), 7.42332px 7.42332px 7px rgba(184, 192, 198, 0.15);
  border-radius: 24px 24px 0px 0px;
  z-index: 1;
}

#box2 {
  height: 70vh;
}

#start {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #F5CE00;
  text-align: start;
  /* padding: 45px 223px 4px 22px; */
}

/* #account-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #666666;
  /* padding: 85px 152px 33px 22px; 
}*/


/* .fill-example::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
} */

.line {
  box-sizing: border-box;
  position: absolute;
  width: 332px;
  height: 1px;
  left: 22px;
  top: 497px;
  background: #4F4F4F;
  border: 3px solid #999999;
  padding: 4px 21px 16px 22px;
}

#bottom-container {
  padding: 0px 21px 29px 22px;
  position: absolute;
}

#next-button {
  /* position: absolute; */
  width: 190px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#next-button-sm {
  /* position: absolute; */
  width: 126px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#previous-button-sm {
  /* position: absolute; */
  width: 126px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  border: 1px solid #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#next {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

#previous {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5CE00;
}

/* #corner-logo{
  padding: 47px 284.16px 173.78px 22px;
  width: 68.84px;
  height: 83.22px;
} */

#driver {
  /* padding-left: 78px; */
  padding-top: 5rem;
  z-index: 1;
  /* top: 25rem; */
  position: sticky; 
  width: 55%;
  scale: 175%;
  height: 100%;
}

#box {
  background: #ffff;
  box-shadow: 7.42332px 7.42332px 20px rgba(184, 192, 198, 0.8), -5px -5px 14px rgba(184, 192, 198, 0.8), 7.42332px 7.42332px 7px rgba(184, 192, 198, 0.15);
  border-radius: 24px 24px 0px 0px;
  z-index: 1;
}

/* #start {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #F5CE00;
  padding: 45px 223px 4px 22px;
} */

#account-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #666666;
  /* padding: 85px 152px 33px 22px; */
}

/* .account-fill {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  display: flex;
  padding: 33px 308px 8px 22px;
  color: #333333;
} */

.container {
  /* height: fit-content; */
  /* width: fit-content; */
  /* display: flex; */
  position: sticky;
  top: 0;
}

input {
  width: 100%;
  border-radius: 0;
  padding: 0px 6px 3px 6px;
  border-bottom: 1px solid #999999;
  @apply text-sm text-[#666666];
}

select {
  background: url('../images/chevron-down.svg') no-repeat 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  width: 100%;
  padding: 4px 8px 4px 8px;
  border-bottom: 1px solid #999999;
  @apply text-sm text-[#666666];
}

input[type='number'] {
  padding: 4px 8px 4px 8px;
}

input:focus, select:focus {
  outline: none;
}

/* .fill-example::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
} */

.line {
  box-sizing: border-box;
  position: absolute;
  width: 332px;
  height: 1px;
  left: 22px;
  top: 497px;
  background: #4F4F4F;
  border: 3px solid #999999;
  padding: 4px 21px 16px 22px;
}

#bottom-container {
  /* padding: 0px 21px 29px 22px; */
  border-radius: 10rem;
  position: absolute;
}

/* #next-button {
  position: absolute;
  width: 190px;
  height: 36px;
  left: 93px;
  top: 744px;
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  padding: 0px 92px 30px 93px;
} */

#next {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.tshadow {
  box-shadow: 0px 0px 12px -5px;
}

#add-photo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #666666;
  /* padding: 6px 116px 9px 116px; */
}

/* #plate {
  display: inline;
  justify-content: space-between;
} */

#profile-div{
  margin: auto;
}

/* #profile {
  width: 143px;
  height: 116px;
  border-radius: 50%;
} */

#file-upload{
  display: none;
}

/* #plus-button {
  position: absolute;
} */

#profilepic, #chatpic {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  background-color: rgb(210, 205, 205);
}

#chatpic {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}

#wallet {
  height: 1.5rem;
  width: 10rem;
  border-radius: 1rem;
  background-color: #f5ce00;
}

#driver-bg {
  background-image: linear-gradient(#cfd7dc,#8096a3);
}

#income {
  height: 7rem;
  width: 85%;
  border-radius: 1rem;
  background-color: #ffff;
  margin-top: -15%;
}

#ratings {
  height: 3px;
  width: 14rem;
  background: #b0b0b0;
}

#card {
  height: fit-content;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0px -4px 10px -7px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#nav {
  background: #fff;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

#box-btn {
  height: 54px;
  width: 54px;
  border-radius: 10px;
}

#map {
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 1px 1px 3px 2px rgba(130, 130, 140, 0.15);
}

#high-demand {
  height: 1.25rem;
  width: 7rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 1.5px rgba(105, 105, 112, 0.15);
}

#chat-top {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  height: 5rem;
  width: 100%;
  /* border-bottom: 0.5px solid #777272; */
}

#msg {
  height: 5rem;
  width: 100%;
  /* background: #d7d1d1; */
  border-bottom: 0.5px solid #777272;
}