@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #8096A3;
}
.button2 {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #ededed;
}

#top-container {
  position: absolute;
  width: 353px;
  height: 239px;
  background: #F1F1F3;
  box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
  border-radius: 24px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding: 48px 11px 41px 11px;
}

#store-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: flex-end;
  color: #292E30;
  padding: 20px 90px 15px 19px;
}

#address {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #292E30;
  padding: 0px 105px 11px 19px;
}

#cash-button {
  position: absolute;
  width: 142px;
  height: 23px;
  right: 203px;
  top: 127px;
  background: #F5CE00;
  box-shadow: inset -7px -7px 10px rgba(255, 255, 255, 0.4), inset 7px 7px 10px rgba(174, 174, 192, 0.15);
  border-radius: 24px;
  padding: 11px 192px 14px 19px;
}

#cash {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #705E00;
  padding: 1px 10px 1px 6px;
}

#revenue-transaction-box {
  position: absolute;
  width: 317px;
  height: 104px;
  right: 28px;
  top: 164px;
  background: #F0F0F3;
  box-shadow: inset -10.2437px -10.2437px 15.7639px rgba(255, 255, 255, 0.7), inset 10.2437px 10.2437px 15.7639px rgba(174, 174, 192, 0.15);
  border-radius: 20px;
  padding: 0px 17px 19px 19px;
}

#revenue {
  position: absolute;
  width: 108px;
  height: 20px;
  left: calc(50% - 108px/2 - 81.5px);
  top: 185px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #666666;
  padding: 21px 34px 6px 22px;
}

#revenue-amount {
  position: absolute;
  width: 74px;
  height: 33px;
  left: calc(50% - 74px/2 - 81.5px);
  top: 211px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: flex-end;
  color: #333333;
  padding: 0px 108px 24px 39px;
}

#transaction {
  position: absolute;
  width: 130px;
  height: 20px;
  left: calc(50% - 130px/2 + 71.5px);
  top: 185px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  color: #666666;
  padding: 21px 23px 6px 0px;
}

#transaction-amount {
  position: absolute;
  width: 15px;
  height: 33px;
  left: calc(50% - 15px/2 + 71px);
  top: 211px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: flex-end;
  color: #333333;
}

#corner-logo{
  /* padding: 47px 284.16px 173.78px 22px;
  width: 68.84px;
  height: 83.22px; */
  background: image('../images/corner-logo.png');
  position: sticky;
  padding-top: 3.5rem;
  /* top: 10rem; */
  left: 1rem;
}

#jar {
  /* padding-left: 78px; */
  z-index: 1;
  position: sticky; 
  width: 100%;
  height: 100%;
  left: 0px;
  top: 78px;
}

#box {
  background: #FFFFFF;
  box-shadow: 7.42332px 7.42332px 20px rgba(184, 192, 198, 0.8), -5px -5px 14px rgba(184, 192, 198, 0.8), 7.42332px 7.42332px 7px rgba(184, 192, 198, 0.15);
  border-radius: 24px 24px 0px 0px;
  z-index: 1;
}

#start {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #F5CE00;
  text-align: start;
  /* padding: 45px 223px 4px 22px; */
}

/* #account-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #666666;
  /* padding: 85px 152px 33px 22px; 
}*/


.account-fill {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  display: flex;
  /* padding: 33px 308px 8px 22px; */
  color: #333333;
}

.fill-example::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
}

.line {
  box-sizing: border-box;
  position: absolute;
  width: 332px;
  height: 1px;
  left: 22px;
  top: 497px;
  background: #4F4F4F;
  border: 3px solid #999999;
  padding: 4px 21px 16px 22px;
}

#bottom-container {
  padding: 0px 21px 29px 22px;
  position: absolute;
}

#next-button {
  /* position: absolute; */
  width: 190px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#next-button-sm {
  /* position: absolute; */
  width: 126px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#next {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/* #corner-logo{
  padding: 47px 284.16px 173.78px 22px;
  width: 68.84px;
  height: 83.22px;
} */

#driver {
  /* padding-left: 78px; */
  padding-top: 1rem;
  z-index: 1;
  position: sticky; 
  width: 75%;
  height: 100%;
  right: 0;
}

#box {
  background: #ffff;
  box-shadow: 7.42332px 7.42332px 20px rgba(184, 192, 198, 0.8), -5px -5px 14px rgba(184, 192, 198, 0.8), 7.42332px 7.42332px 7px rgba(184, 192, 198, 0.15);
  border-radius: 24px 24px 0px 0px;
  z-index: 1;
}

/* #start {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #F5CE00;
  padding: 45px 223px 4px 22px;
} */

#account-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #666666;
  /* padding: 85px 152px 33px 22px; */
}

/* .account-fill {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  display: flex;
  padding: 33px 308px 8px 22px;
  color: #333333;
} */

.container {
  /* height: fit-content; */
  display: flex;
  position: sticky;
  top: 0;
}

input {
  width: 100%;
  border-radius: 0;
  padding: 0px 0;
  border-bottom: 1px solid #999999;
}

input:focus {
  outline: none;
}

/* .fill-example::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
} */

.line {
  box-sizing: border-box;
  position: absolute;
  width: 332px;
  height: 1px;
  left: 22px;
  top: 497px;
  background: #4F4F4F;
  border: 3px solid #999999;
  padding: 4px 21px 16px 22px;
}

#bottom-container {
  /* padding: 0px 21px 29px 22px; */
  border-radius: 10rem;
  position: absolute;
}

/* #next-button {
  position: absolute;
  width: 190px;
  height: 36px;
  left: 93px;
  top: 744px;
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  padding: 0px 92px 30px 93px;
} */

#next {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}