#top-container {
    position: absolute;
    width: 353px;
    height: 239px;
    background: #F1F1F3;
    box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
    border-radius: 24px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 48px 11px 41px 11px;
}

#store-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    display: flex;
    align-items: flex-end;
    color: #292E30;
    padding: 20px 90px 15px 19px;
}

#address {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    color: #292E30;
    padding: 0px 105px 11px 19px;
}

#cash-button {
    position: absolute;
    width: 142px;
    height: 23px;
    right: 203px;
    top: 127px;
    background: #F5CE00;
    box-shadow: inset -7px -7px 10px rgba(255, 255, 255, 0.4), inset 7px 7px 10px rgba(174, 174, 192, 0.15);
    border-radius: 24px;
    padding: 11px 192px 14px 19px;
}

#cash {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #705E00;
    padding: 1px 10px 1px 6px;
}

#revenue-transaction-box {
    position: absolute;
    width: 317px;
    height: 104px;
    right: 28px;
    top: 164px;
    background: #F0F0F3;
    box-shadow: inset -10.2437px -10.2437px 15.7639px rgba(255, 255, 255, 0.7), inset 10.2437px 10.2437px 15.7639px rgba(174, 174, 192, 0.15);
    border-radius: 20px;
    padding: 0px 17px 19px 19px;
}

#revenue {
    position: absolute;
    width: 108px;
    height: 20px;
    left: calc(50% - 108px/2 - 81.5px);
    top: 185px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #666666;
    padding: 21px 34px 6px 22px;
}

#revenue-amount {
    position: absolute;
    width: 74px;
    height: 33px;
    left: calc(50% - 74px/2 - 81.5px);
    top: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    color: #333333;
    padding: 0px 108px 24px 39px;
}

#transaction {
    position: absolute;
    width: 130px;
    height: 20px;
    left: calc(50% - 130px/2 + 71.5px);
    top: 185px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #666666;
    padding: 21px 23px 6px 0px;
}

#transaction-amount {
    position: absolute;
    width: 15px;
    height: 33px;
    left: calc(50% - 15px/2 + 71px);
    top: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    color: #333333;
}

