#top-container {
    position: absolute;
    width: 353px;
    height: 239px;
    background: #F1F1F3;
    box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
    border-radius: 24px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 48px 11px 41px 11px;
}